<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>top page</title>
<meta http-equiv="Content-Type" 
 content="text/html; charset=UTF-8"/>
 <style>
 h1 { font-size:18pt; font-weight:bold; color:gray;}
body { font-size.13pt; color:gray; margin:5px 25px;}
pre { border:solid 3px #ddd;padding:10px;}
tr {margin:5px;}
th {padding:5px; color:white;background:darkgray;}
td {padding:5px; color:black;background:#ooo;}

 </style>
</head>
<body>
<h1 th:text="#{content.title}">help page</h1>
<table>
<form method="post" action="/" th:object-"${formModel}">
<tr><td><label for="id">id</label></td>
 <td><input type="text" id="id" th:value="*{id}" /></td></tr>
 <tr><td><label for="name">名前</label></td>
  <td><input type="text" name="name" th:value="*{name}" /></td></tr>
  <tr><td><label for="mailaddress">メールアドレス</label></td>
  <td><input type="text" mailaddress="mailaddress" th:value="*{mailaddress}" /></td></tr>
  <tr><td><label for="telno">電話番号</label></td>
  <td><input type="text" telno="telno" th:value="*{telno}" /></td></tr>
  <tr><td><label for="memo">メモ</label></td>
  <td><textarea name="memo" th:text="*{memo}"
  		cols="20" rows="5"></textarea></td></tr>
  		<tr><td></td><input type ="submit" /></tr>
</form>
</table>
<table>
<tr><th>ID</th><th>名前</th><th>メールアドレス</th><th>電話番号</th><th>メモ</th></tr>
<tr th:each="obj : ${datalist}">
  <td th:text="${obj.id}"></td>
  <td th:text="${obj.name}"></td>
  <td th:text="${obj.mailaddress}"></td>
  <td th:text="${obj.telno}"></td>
  <td th:text="${obj.memo}"></td>
  </tr>
</table>
<!--  
<h1 th:text="#{content.title}">helo page</h1>
<div th:switch="${check}">
<p th:case ="0" th:text="|${month1} - winter|"></p>
<p th:case ="1" th:text="|${month1} - apring|"></p>
<p th:case ="2" th:text="|${month1} - summer|"></p>
<p th:case ="3" th:text="|${month1} - autumn|"></p>
<p th:case ="4" th:text="|${month1} - winter|"></p>
<p th:case ="*">...?</p>
</div>
-->

 
<!--  <p th:text="|expression[ ${check} ] |"></p>
<table th:object="${data.get(__${check}__)}">
 <tr><th>問題</th><td th:text="*{id}"></td></tr>
 <tr><th></th><td th:text="*{name}"></td></tr> 
 <tr><th>sas</th><td th:text="*{value}"></td></tr>

</table>
-->
</body>
